.slider {
	&-input {
		width: 350px;
		height: 10px;
		-webkit-appearance: none;
		background: #888;
		outline: none;
		border-radius: 15px;
		// overflow: hidden;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			height: 25px;
			width: 25px;
			border-radius: 50%;
			background-color: #10c0ff;
			cursor: pointer;
		}
		&::-moz-range-thumb {
			-webkit-appearance: none;
			height: 25px;
			width: 25px;
			border-radius: 50%;
			background-color: #10c0ff;
			cursor: pointer;
		}
	}
}
@media (min-width: 1024px) {
	.slider {
		&-input {
			width: 400px;
			height: 15px;
			border-radius: 15px;
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				height: 30px;
				width: 30px;
			}
			&::-moz-range-thumb {
				-webkit-appearance: none;
				height: 30px;
				width: 30px;
			}
		}
	}
}
