*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: #eeeeee;
	position: relative;
	font-family: "Montserrat", sans-serif;
	&-logo {
		position: absolute;
		top: 5%;
		left: 5%;
	}
	&-decor-img {
		display: none;
		position: absolute;
		top: 40%;
		right: -13.5%;
		transform: scale(0.7);
	}
}
@media (min-width: 1024px) {
	.App {
		&-decor-img {
			display: block;
		}
	}
}
